.navTrack,
.navBar {
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
}

.navBar {
    position: sticky;
    top: 0;
    padding: 1.5em;
}

.navLink:global(.active) {
    color: var(--green);
}

/* sticks nav to bottom horizontally on mobile */
@media (--mobile) {
    .navTrack {
        position: fixed;
        bottom: 0;
        width: 100svw;
        min-width: min-content;
    }

    .navTrack,
    .navBar {
        flex-direction: row;
    }
}
