#root {
    font-family: var(--font-body);
    color: var(--font-color-primary);
    background-color: var(--bg);
    padding: 1.5em;
    height: 100svh;
    display: flex;
    gap: 1.5em;
}

@media (max-width: 600px) {
    #root {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
}

code {
    font-family: var(--font-mono);
}
